# --- Root ---

# PlatformIO
.pio/
.vscode/
arduino/include/secrets.h

# Python
__pycache__/
ble/

# Arduino IDE
ArduinoBuild/

# --- Mesh Simulator ---

# Compiled C++ Binaries
node
victim
exit

# Dynamically Generated Topologies
udp-simulator/docker/docker-compose.yml