services:
  victim:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: ["./victim", "+40722222222", "1", "44.4398", "26.0428"]
    networks:
      - zone_1

{% for relay in relays %}
  {{ relay.name }}:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    networks:
{% for net in relay.networks %}
      - {{ net }}
{% endfor %}
{% endfor %}

{% for exit_node in exit_nodes %}
  {{ exit_node.name }}:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: ["./exit"]
    networks:
{% for net in exit_node.networks %}
      - {{ net }}
{% endfor %}
{% endfor %}

# Define subnets (OSI layer 2 software switches)
networks:
{% for net in networks %}
  {{ net }}:
    driver: bridge
{% endfor %}